.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4c5da4;
    border-radius: 20px;
}

.header-menu {
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
}

.header-menu > li {
    margin: 0 20px;
    padding: 10px;
}

.header-menu > li > a {
    text-decoration: none;
    color: #869ffc;
    font-weight: 700;
}

.header-menu > li > a:hover {
    color: #1b2545;
}